<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
	<div class="container">
		<ol class="breadcrumb">
			<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
			<li class="active">Page Sign Up</li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<div class="main-container dark-translucent-bg" style="background-image:url('images/background-img-6.jpg');">
	<div class="container">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			<div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
				<div class="form-block center-block p-30 light-gray-bg border-clear">
					<h2 class="title">Sign Up</h2>
					<form class="form-horizontal" name="talentSignUpForm" role="form" method="POST" data-ng-submit="talentSignUp(user)">
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.firstName.$valid, 'has-error' : talentSignUpForm.firstName.$invalid  }">
							<label for="firstName" class="col-sm-3 control-label">First Name <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="required" data-ng-model="user.talent.firstName" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.lastName.$valid, 'has-error' : talentSignUpForm.lastName.$invalid  }">
							<label for="lastName" class="col-sm-3 control-label">Last Name <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="required" data-ng-model="user.talent.lastName" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.birthDateStandardFormat.$valid, 'has-error' : talentSignUpForm.birthDateStandardFormat.$invalid  }">
							<label for="birthDateStandardFormat" class="col-sm-3 control-label">Birth Date <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="birthDateStandardFormat" name="birthDateStandardFormat" placeholder="Birth Date" required="required" data-ng-model="user.talent.birthDateStandardFormat" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.contactNo.$valid, 'has-error' : talentSignUpForm.contactNo.$invalid  }">
							<label for="contactNo" class="col-sm-3 control-label">Contact No <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact No" required="required" data-ng-model="user.talent.contactNo" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.city.$valid, 'has-error' : talentSignUpForm.city.$invalid  }">
							<label for="city" class="col-sm-3 control-label">City <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="city" name="city" placeholder="City" required="required" data-ng-model="user.talent.city" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.expectedSalary.$valid, 'has-error' : talentSignUpForm.expectedSalary.$invalid  }">
							<label for="expectedSalary" class="col-sm-3 control-label">Talent Fee <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="expectedSalary" name="expectedSalary" placeholder="Talent Fee" required="required" data-ng-model="user.talent.expectedSalary" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.gender.$valid, 'has-error' : talentSignUpForm.gender.$invalid  }">
							<label for="gender" class="col-sm-3 control-label">Gender <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<label class="radio-inline">
									<input type="radio" name="gender" value="M" data-ng-model="user.talent.gender"> Male
								</label>
								<label class="radio-inline">
									<input type="radio" name="gender" value="F" data-ng-model="user.talent.gender"> Female
								</label>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="weight" class="col-sm-3 control-label">Weight</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="weight" name="weight" placeholder="kilograms" data-ng-model="user.talent.weight" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="feet" class="col-sm-3 control-label">Height</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="feet" name="feet" placeholder="feet" data-ng-model="user.talent.feet" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="inches" class="col-sm-3 control-label"></label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="inches" name="inches" placeholder="inches" data-ng-model="user.talent.inches" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="vital1" class="col-sm-3 control-label">Vital Statistics</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="vital1" name="vital1" placeholder="bust" data-ng-model="user.talent.vital1" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="vital2" class="col-sm-3 control-label"></label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="vital2" name="vital2" placeholder="waist" data-ng-model="user.talent.vital2" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="vital3" class="col-sm-3 control-label"></label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="vital3" name="vital3" placeholder="hip" data-ng-model="user.talent.vital3" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.exp.$valid, 'has-error' : talentSignUpForm.exp.$invalid  }">
							<label for="exp" class="col-sm-3 control-label">Past Events <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="exp" name="exp" data-ng-model="user.talent.exp" required="required" />
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback">
							<label for="exp" class="col-sm-3 control-label">Photo <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input id="fileInput" name="fileInput" type="file" class="file-loading" multiple="multiple" accept="image/*" />
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.email.$valid, 'has-error' : talentSignUpForm.email.$invalid }">
							<label for="email" class="col-sm-3 control-label">Email <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" data-ng-model="user.email" />
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.password1.$valid, 'has-error' : talentSignUpForm.password1.$invalid }">
							<label for="password1" class="col-sm-3 control-label">Password <span class="text-danger small">*</span></label>
							<div class="col-sm-8">
								<input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required="required" data-ng-model="user.password" />
								<i class="fa fa-lock form-control-feedback"></i>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<div
									vc-recaptcha
									theme="'light'"
									key="model.key"
									on-create="setWidgetId(widgetId)"
									on-success="setResponse(response)"
									on-expire="cbExpiration()"></div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<div class="checkbox">
									<label>
										<input type="checkbox" required> Accept our <a href="#">privacy policy</a> and <a href="#">customer agreement</a>
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-8">
								<button type="submit" class="btn btn-group btn-default btn-animated">Sign Up <i class="fa fa-check"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- main end -->
		</div>
	</div>
</div>
<!-- main-container end -->