<div class="row" data-ng-controller="RegisterTalentController">
	<div class="col-md-1"></div>
	
	<div class="col-md-10">
		<div class="page-header">
			<h1>Join Us <small>Register as a Talent</small></h1>
		</div>
		
		<div class="alert alert-danger" role="alert" data-ng-show="userSignUpErrors">
			<div data-ng-repeat="userSignUpError in userSignUpErrors track by $index"><span class="glyphicon glyphicon-remove"></span> {{ userSignUpError.message }}</div>
		</div>
		<div class="alert alert-info" role="alert">Fields with <span class="glyphicon glyphicon-asterisk"></span> are required</div>
		<form name="talentSignUpForm" role="form" method="POST" data-ng-submit="talentSignUp(user)" novalidate="novalidate">
			
			<div class="page-header">
				<h3>We'd like to know you <small>These information will also help you to find the perfect events just for you</small></h3>
			</div>
		
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback" 
							data-ng-class="{ 'has-success' : talentSignUpForm.firstName.$valid, 'has-error' : talentSignUpForm.firstName.$invalid  }">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="required" data-ng-model="user.talent.firstName" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : talentSignUpForm.lastName.$valid, 'has-error' : talentSignUpForm.lastName.$invalid  }">
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="required" data-ng-model="user.talent.lastName" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback" 
							data-ng-class="{ 'has-success' : talentSignUpForm.birthDateStandardFormat.$valid, 'has-error' : talentSignUpForm.birthDateStandardFormat.$invalid  }">
						<label for="birthDate">Birth Date</label>
						<input type="text" class="form-control" id="birthDateStandardFormat" name="birthDateStandardFormat" placeholder="Birth Date" required="required" data-ng-model="user.talent.birthDateStandardFormat" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : talentSignUpForm.contactNo.$valid, 'has-error' : talentSignUpForm.contactNo.$invalid  }">
						<label for="contactNo">Contact No</label>
						<input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact No" required="required" data-ng-model="user.talent.contactNo" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : talentSignUpForm.city.$valid, 'has-error' : talentSignUpForm.city.$invalid  }">
						<label for="city">City</label>
						<input type="text" class="form-control" id="city" name="city" placeholder="City" required="required" data-ng-model="user.talent.city" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="col-xs-12 col-md-6">
						<div class="form-group has-feedback"
								data-ng-class="{ 'has-success' : talentSignUpForm.expectedSalary.$valid, 'has-error' : talentSignUpForm.expectedSalary.$invalid  }">
							<label for="expectedSalary">Talent Fee</label>
							<div class="input-group">
								<span class="input-group-addon" id="bust">Php</span>
								<input type="number" class="form-control" id="expectedSalary" name="expectedSalary" placeholder="Salary" required="required" data-ng-model="user.talent.expectedSalary" />
								<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 col-md-6">
						<div class="form-group has-feedback"
								data-ng-class="{ 'has-success' : talentSignUpForm.gender.$valid, 'has-error' : talentSignUpForm.gender.$invalid  }">
							<label for="gender">Gender</label><br />
							<label class="radio-inline">
								<input type="radio" name="gender" value="M" data-ng-model="user.talent.gender"> Male
							</label>
							<label class="radio-inline">
								<input type="radio" name="gender" value="F" data-ng-model="user.talent.gender"> Female
							</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-xs-12">
							<label for="feet">Weight &amp; Height</label>
						</div>
						
						<div class="col-xs-12 col-sm-4">
							<div class="input-group">
								<input type="number" class="form-control" id="weight" name="weight" placeholder="" data-ng-model="user.talent.weight" /><span class="input-group-addon">kg</span>
							</div>
						</div>
						
						<div class="col-xs-6 col-sm-4">
							<div class="input-group">
								<input type="number" class="form-control" id="feet" name="feet" placeholder="" data-ng-model="user.talent.feet" /><span class="input-group-addon">ft</span>
							</div>
						</div>
						
						<div class="col-xs-6 col-sm-4">
							<div class="input-group">
								<input type="number" class="form-control" id="inches" name="inches" placeholder="" data-ng-model="user.talent.inches" /><span class="input-group-addon">in</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="col-xs-12">
							<label for="vital1">Vital Statistics</label>
						</div>
						
						<div class="col-xs-12 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="bust">B</span>
								<input type="number" class="form-control" id="vital1" name="vital1" placeholder="" data-ng-model="user.talent.vital1" />
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="waist">W</span>
								<input type="number" class="form-control" id="vital2" name="vital2" placeholder="" data-ng-model="user.talent.vital2" />
							</div>
						</div>
						
						<div class="col-xs-12 col-sm-4">
							<div class="input-group">
								<span class="input-group-addon" id="hip">H</span>
								<input type="number" class="form-control" id="vital3" name="vital3" placeholder="" data-ng-model="user.talent.vital3" />
							</div>
						</div>
					</div>
				</div>
			</div>			
			<hr />
			<div class="row">
				<div class="col-md-12">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : talentSignUpForm.exp.$valid, 'has-error' : talentSignUpForm.exp.$invalid  }">
						<label for="exp">Past Events</label>
						<input type="text" class="form-control" id="exp" name="exp" data-ng-model="user.talent.exp" required="required" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group has-feedback">
						<label class="control-label">Select at least 1 photo (max: 5)</label>
						<input id="fileInput" name="fileInput" type="file" class="file-loading" multiple="multiple" accept="image/*" />
					</div>
				</div>
			</div>
			
			<div class="page-header">
				<h3>Let's create your account <small>These information will allow you to login back and apply to future events</small></h3>
			</div>
			
			<div class="alert alert-danger" role="alert" data-ng-show="(talentSignUpForm.password1.$valid && talentSignUpForm.password2.$valid) && user.password !== user.password2"><span class="glyphicon glyphicon-remove"></span> Passwords don't match</div>
			<div class="alert alert-success" role="alert" data-ng-show="(talentSignUpForm.password1.$valid && talentSignUpForm.password2.$valid) && user.password === user.password2"><span class="glyphicon glyphicon-ok"></span> Passwords match. You may proceed.</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : talentSignUpForm.email.$valid, 'has-error' : talentSignUpForm.email.$invalid }">
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" data-ng-model="user.email" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-4">
					<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.password1.$valid && user.password === user.password2, 'has-error' : user.password !== user.password2 || talentSignUpForm.password1.$invalid }">
						<label for="password1">Password</label>
						<input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required="required" data-ng-model="user.password" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-4">
					<div class="form-group has-feedback" data-ng-class="{ 'has-success' : talentSignUpForm.password2.$valid && user.password === user.password2, 'has-error' : user.password !== user.password2 || talentSignUpForm.password2.$invalid }">
						<label for="password2">Re-enter password</label>
						<input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter password" required="required" data-ng-model="user.password2" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div
		                vc-recaptcha
		                theme="'light'"
		                key="model.key"
		                on-create="setWidgetId(widgetId)"
		                on-success="setResponse(response)"
		                on-expire="cbExpiration()"></div>
				</div>
			</div>
			
			<div class="text-center">
				<a href="#!/" class="btn btn-default">Cancel</a>
				<button id="signUpButton" type="submit" class="btn btn-primary" data-loading-text="Signing up..." 
					data-ng-disabled="talentSignUpForm.$invalid ||
								user.password !== user.password2">
					<span class="glyphicon glyphicon-ok-sign"></span> Sign up
				</button>
			</div>
		</form>
	</div>
	
	<div class="col-md-1"></div>
</div>