<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:sec="http://cxf.apache.org/configuration/security"
	xmlns:interop="http://WSSec/wssec10" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:p="http://cxf.apache.org/policy"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
						http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
						http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
						http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd">
	
	<bean id="carManager"
		class="org.geeksexception.project.catalog.api.CarManager" />
	<bean id="autoPartManager"
		class="org.geeksexception.project.catalog.api.AutoPartManager" />
	<bean id="headerManager"
		class="org.geeksexception.project.catalog.api.HeaderManager" />
	<bean id="sectionManager"
		class="org.geeksexception.project.catalog.api.SectionManager" />
	<bean id="userManager"
		class="org.geeksexception.project.catalog.api.UserManager" />
	<bean id="attributeManager"
		class="org.geeksexception.project.catalog.api.AttributeManager" />
	
	<!-- Providers -->
	<bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider">
		<property name="mapper">
			<bean class="org.geeksexception.project.catalog.hibernate.mapper.HibernateAwareObjectMapper"></bean>
		</property>
	</bean>
	<bean id="catalogExceptionHandler" 
		class="org.geeksexception.project.catalog.exception.CatalogServiceApiExceptionHandler" />
	<bean id="dateParameterHandler" 
		class="org.geeksexception.project.catalog.handler.DateParameterHandler" />
	<bean id="validationExceptionMapper" 
		class="org.geeksexception.project.catalog.exception.ValidationExceptionMapper" />
	<bean id="corsFilter" 
		class="org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter"/>
		
	<!-- Features -->
	<bean id="commonValidationFeature" class="org.apache.cxf.validation.BeanValidationFeature"/>
	
	<jaxrs:server id="ApplicationManagerServer"
		address="/service">
		<jaxrs:serviceBeans>
			<ref bean="carManager" />
			<ref bean="autoPartManager" />
			<ref bean="headerManager" />
			<ref bean="sectionManager" />
			<ref bean="userManager" />
			<ref bean="attributeManager" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="corsFilter" />
			<ref bean="jsonProvider" />
			<ref bean="catalogExceptionHandler" />
			<ref bean="dateParameterHandler" />
			<ref bean="validationExceptionMapper" />
		</jaxrs:providers>
		<jaxrs:features>
			<ref bean="commonValidationFeature" />
		</jaxrs:features>
	</jaxrs:server>
	
</beans>