<div class="row" data-ng-controller="PasswordController">
	<div class="page-header">
		<h1>Change Password</h1>
	</div>
	
	<form name="changePasswordForm" role="form" method="POST" data-ng-submit="changePassword(oldPassword, newPassword)">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="alert alert-danger" role="alert" data-ng-show="changePasswordErrors">
					<div data-ng-repeat="changePasswordError in changePasswordErrors track by $index"><span class="glyphicon glyphicon-remove"></span> {{ changePasswordError.message }}</div>
				</div>
				<div class="alert alert-danger" role="alert" data-ng-show="(changePasswordForm.newPassword.$valid && changePasswordForm.newPassword2.$valid) && newPassword !== newPassword2"><span class="glyphicon glyphicon-remove"></span> New passwords don't match</div>
				<div class="alert alert-success" role="alert" data-ng-show="(changePasswordForm.newPassword.$valid && changePasswordForm.newPassword2.$valid) && newPassword === newPassword2"><span class="glyphicon glyphicon-ok"></span> New passwords match. You may proceed.</div>
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : changePasswordForm.oldPassword.$valid, 'has-error' : !changePasswordForm.oldPassword.$valid  }">
					<label for="oldPassword">Old password</label>
					<input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password" required="required" data-ng-model="oldPassword" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : changePasswordForm.newPassword.$valid && newPassword === newPassword2, 'has-error' : !changePasswordForm.newPassword.$valid || newPassword !== newPassword2  }">
					<label for="newPassword">New password</label>
					<input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password" required="required" data-ng-model="newPassword" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group has-feedback"
						data-ng-class="{ 'has-success' : changePasswordForm.newPassword2.$valid && newPassword === newPassword2, 'has-error' : !changePasswordForm.newPassword2.$valid || newPassword !== newPassword2  }">
					<label for="newPassword2">Re-enter password</label>
					<input type="password" class="form-control" id="newPassword2" name="newPassword2" placeholder="Re-enter password" required="required" data-ng-model="newPassword2" />
					<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
		
		<div class="text-center">
			<button type="submit" class="btn btn-primary" 
				ng-disabled="oldPassword === '' || 
							newPassword === '' ||
							newPassword2 === '' || 
							newPassword !== newPassword2">
				<span class="glyphicon glyphicon-floppy-disk"></span> Change password
			</button>
		</div>
	</form>
</div>