<div class="row" data-ng-controller="EventController">
	
	<p data-ng-if="events.length == 0">There is no event as of the moment</p>
	
	<div class="media" data-ng-repeat="event in events">
		<div class="media-left media-top">
			<a href="" data-ng-click="viewEvent(event.id)">
				<img class="media-object" src="/img/event.jpg">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading" data-ng-bind="event.name">Media heading</h4>
			
			<div class="col-xs-12 col-md-10">
				<small>{{ event.dateCreated | date: 'medium' }}</small>
			</div>
			<div class="col-xs-12 col-md-2"><p class="text-success">Php {{ event.talentFee | number }}</p></div>
			<div class="col-xs-12 col-md-12" data-ng-bind="event.description"></div>
			<div class="col-xs-12 col-md-12">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-zoom-in"></span> View event
				</button>
			</div>
		</div>
	</div>
	
	<div data-ng-if="isAuthorized(userRoles.agency)">
		<a href="#!/event/create" class="btn btn-primary">Add event</a>
	</div>
	
</div>