<div data-ng-controller="HeaderController">
	<ul class="nav nav-pills">
		<li role="presentation" data-ng-class="{active: $uiRoute}"><a href="#!/">Home</a></li>
		<li role="presentation" data-ui-route="/talent/profile" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthenticated()"><a href="#!/talent/profile">Profile</a></li>
		<li role="presentation" data-ui-route="/events" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthenticated()"><a href="#!/events">Events</a></li>
		<li role="presentation" data-ui-route="/changePassword" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthenticated()"><a href="#!/changePassword">Account</a></li>
		
		<li role="presentation"><a href="" data-ng-click="logout()" data-ng-if="isAuthenticated()">Logout</a></li>
	</ul>
</div>