<div data-ng-controller="HeaderController">
	<ul class="nav nav-pills">
		<li role="presentation" data-ng-class="{active: $uiRoute}"><a href="#!/">Home</a></li>
		<li role="presentation" data-ui-route="/events" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthorized(userRoles.user)"><a href="#!/events">Events <span class="badge">{{ approvedEventsCount.0 }}</span></a></li>
		<li role="presentation" data-ui-route="/events" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthorized(userRoles.agency)"><a href="#!/events">Events <span class="badge">{{ approvedAgencyEventsCount.0 }}</span></a></li>
		
		<li role="presentation" class="dropdown" data-ng-if="isAuthorized(userRoles.admin)">
			<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation" data-ui-route="/events" data-ng-class="{active: $uiRoute}"><a href="#!/events">Approved <span class="badge">{{ approvedEventsCount.0 }}</span></a></li>
				<li role="presentation" data-ui-route="/events/forApproval" data-ng-class="{active: $uiRoute}"><a href="#!/events/forApproval">For Approval <span class="badge">{{ forApprovalEventsCount.0 }}</span></a></li>
				<li role="presentation" data-ui-route="/events/denied" data-ng-class="{active: $uiRoute}"><a href="#!/events/denied">Denied <span class="badge">{{ deniedEventsCount.0 }}</span></a></li>
				<li role="presentation" data-ui-route="/events/closed" data-ng-class="{active: $uiRoute}"><a href="#!/events/closed">Closed <span class="badge">{{ closedEventsCount.0 }}</span></a></li>
			</ul>
		</li>
		
		<li role="presentation" data-ui-route="/talents" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthorized(userRoles.agency)"><a href="#!/talents">Talents <span class="badge">{{ approvedTalentsCount.0 }}</span></a></li>
		
		<li role="presentation" class="dropdown" data-ng-if="isAuthorized(userRoles.admin)">
			<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">Talents <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation" data-ui-route="/talents" data-ng-class="{active: $uiRoute}"><a href="#!/talents">Approved <span class="badge">{{ approvedTalentsCount.0 }}</span></a></li>
				<li role="presentation" data-ui-route="/talents/forApproval" data-ng-class="{active: $uiRoute}"><a href="#!/talents/forApproval">For Approval <span class="badge">{{ forApprovalTalentsCount.0 }}</span></a></li>
				<li role="presentation" data-ui-route="/talents/denied" data-ng-class="{active: $uiRoute}"><a href="#!/talents/denied">Denied <span class="badge">{{ deniedTalentsCount.0 }}</span></a></li>
			</ul>
		</li>
		
		<li role="presentation" class="dropdown" data-ng-if="isAuthenticated()">
			<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><span data-ng-bind="user.email">Geng</span> <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li role="presentation" data-ui-route="/talent/profile" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthorized(userRoles.user)"><a href="#!/talent/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li role="presentation" data-ui-route="/agency/profile" data-ng-class="{active: $uiRoute}" data-ng-if="isAuthorized(userRoles.agency)"><a href="#!/agency/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
				<li role="presentation" data-ui-route="/changePassword" data-ng-class="{active: $uiRoute}"><a href="#!/changePassword"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
				<li role="presentation"><a href="" data-ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
			</ul>
		</li>
	</ul>
</div>