<section class="row" data-ng-controller="HomeController">
	<div class="col-md-12">
		<h1>Home</h1>
	</div>
	
	<div class="col-md-8">
	
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h3>
			</div>
			<div class="panel-body">
				<form name="loginForm" role="form" method="POST" data-ng-submit="talentSignUp(talent)">
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" data-ng-model="user.email" />
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required="required" data-ng-model="talent.user.password" />
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-ok-sign"></span> Login</button>
					<a class="btn btn-default btn-lg btn-block" href="#!/talent/register" role="button">Join Us</a>
				</form>
			</div>
		</div>
	</div>
</section>