<!-- breadcrumb start -->
<!-- ================ -->
<div class="breadcrumb-container">
	<div class="container">
		<ol class="breadcrumb">
			<li><i class="fa fa-home pr-10"></i><a href="#!/">Home</a></li>
			<li class="active"><i class="fa fa-user pr-10"></i>Page Sign Up</li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->

<!-- main-container start -->
<!-- ================ -->
<div class="main-container">
	<div class="container">
		<div class="row">
			<!-- main start -->
			<!-- ================ -->
			
			<!-- <div class="main object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
				<div class="form-block center-block p-30 light-gray-bg border-clear">
					<h2 class="title">Type of User</h2>
					
				</div>
			</div> -->
			
			<div class="main col-md-12">
				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">Choose the type of user you are</h1>
				<div class="separator-2"></div>
				<!-- page-title end -->
				
				<!-- user types start -->
				<!-- ================ -->
				<div class="pricing-tables stripped object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
					<div class="row grid-space-0">
						<!-- user type start -->
						<!-- ================ -->
						<div class="col-sm-6 plan stripped">
							<div class="header dark-bg">
								<h3>Talent</h3>
								<div class="price"><span>Free</span></div>
							</div>
							<ul>
								<li>1 User</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
								</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
								</li>
								<li>Subdomains</li>
								<li>Security</li>
								<li>Bandwidth</li>
								<li>Databases</li>
								<li><a href="#!/talent/register" class="btn btn-dark btn-animated btn-lg">Sign up <i class="fa fa-user"></i></a></li>
							</ul>
						</div>
						<!-- user type end -->

						<!-- user type start -->
						<!-- ================ -->
						<div class="col-sm-6 plan stripped">
							<div class="header dark-bg">
								<h3>Agency</h3>
								<div class="price"><span>$24.99</span>/m.</div>
							</div>
							<ul>
								<li>Unlimited Users</li>
								<li>Unlimited Disk Space</li>
								<li>Unlimited Email Acounts</li>
								<li>Unlimited Subdomains</li>
								<li>
									<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
								</li>
								<li>Unlimited Bandwidth</li>
								<li>Unlimited Databases</li>
								<li><a href="#!/agency/register" class="btn btn-dark btn-animated btn-lg">Sign up <i class="fa fa-user"></i></a></li>
							</ul>
						</div>
						<!-- user type end -->
					</div>
				</div>
				<!-- user types end -->
				
			</div>
			
			<!-- main end -->
		</div>
	</div>
</div>
<!-- main-container end -->