<div class="row">
	
	<div class="pv-40 two-col-translucent-bg background-img-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="feature-box-2 object-non-visible right wow fadeInDown"  data-wow-delay=".1s">
						<span class="icon without-bg"><i class="fa fa-support"></i></span>
						<div class="body">
							<h4 class="title">Free Great Support</h4>
							<p>We will do our best to assist you with any issues/bugs related to the use of our themes.</p>
							<div class="separator-3"></div>
							<ul class="list-icons">
								<li>Extremly Simple to Use <span class="fa fa-check-square-o"></span></li>
								<li>Customize it in no time <span class="fa fa-check-square-o"></span></li>
								<li>Unlimited options and variations <span class="fa fa-check-square-o"></span></li>
								<li>We are here to support you <span class="fa fa-check-square-o"></span></li>
							</ul>
							<div class="separator-2"></div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="feature-box-2 object-non-visible right wow fadeInDown"  data-wow-delay=".1s">
						<span class="icon without-bg"><i class="fa fa-diamond"></i></span>
						<div class="body">
							<h4 class="title">Free Great Support</h4>
							<p>We will do our best to assist you with any issues/bugs related to the use of our themes.</p>
							<div class="separator-3"></div>
							<ul class="list-icons">
								<li>Extremly Simple to Use <span class="fa fa-check-square-o"></span></li>
								<li>Customize it in no time <span class="fa fa-check-square-o"></span></li>
								<li>Unlimited options and variations <span class="fa fa-check-square-o"></span></li>
								<li>We are here to support you <span class="fa fa-check-square-o"></span></li>
							</ul>
							<div class="separator-2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>