<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('images/page-services-banner.jpg'); background-position: 50% 32%;">
	<!-- breadcrumb start -->
	<!-- ================ -->
	<div class="breadcrumb-container">
		<div class="container">
			<ol class="breadcrumb">
				<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
				<li class="active">Services</li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 text-center col-md-offset-2 pv-20">
				<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">What We <strong>Provide</strong></h2>
				<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
				<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
			</div>
		</div>
	</div>
</div>
<!-- banner end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">

	<div class="container">
		<div class="row">

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-12">

				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
							<span class="icon large default-bg circle"><i class="fa fa-diamond"></i></span>
							<h3>Clean Code &amp; Design</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
							<a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
							<span class="icon large dark-bg circle"><i class="fa fa-connectdevelop"></i></span>
							<h3>Extremely Flexible</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
							<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<span class="icon large default-bg circle"><i class="icon-snow"></i></span>
							<h3>Latest Technologies</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
							<a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="clearfix visible-md"></div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
							<span class="icon large dark-bg circle"><i class="icon-check"></i></span>
							<h3>Free Updates</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.</p>
							<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
							<span class="icon large default-bg circle"><i class="icon-lifebuoy-1"></i></span>
							<h3>Great Support</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Iure sequi unde hic. Sapiente quaerat sequi inventore veritatis cumque lorem ipsum dolor sit amet, consectetur.</p>
							<a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
							<span class="icon large dark-bg circle"><i class="icon-gift"></i></span>
							<h3>Packed Full Of Features</h3>
							<div class="separator clearfix"></div>
							<p class="text-muted">Inventore dolores aut laboriosam cum consequuntur delectus sequi lorem ipsum dolor sit amet, consectetur.</p>
							<a class="link-dark" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
						</div>
					</div>
				</div>

			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<section class="section background-img-1 dark-translucent-bg" style="background-position: 50% 42%;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8">
							<h1 class="title">Unlimited Options</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
						</div>
						<div class="col-sm-4">
							<br>
							<p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated">Purchase<i class="fa fa-shopping-cart pl-20"></i></a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-20 padding-bottom-clear clearfix">
	<div class="container">
		<h2 class="text-center">Extra Services</h2>
		<div class="separator"></div>
		<p class="text-center space-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veritatis unde quibusdam, saepe quidem nisi aliquid illo distinctio, cum id dolorum consectetur ipsam perspiciatis provident voluptatibus quaerat! Nulla, quaerat! Possimus.</p>
		<div class="row">
			<div class="col-md-6 space-top">
				<br>
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
					<span class="icon without-bg"><i class="fa fa-arrows"></i></span>
					<div class="body">
						<h4 class="title">Responsive Design</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a></p>
						<div class="separator-3"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
					<span class="icon without-bg"><i class="icon-megaphone"></i></span>
					<div class="body">
						<h4 class="title">Easy to Use</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a></p>
						<div class="separator-3"></div>
					</div>
				</div>
				<div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
					<span class="icon without-bg"><i class="icon-infinity"></i></span>
					<div class="body">
						<h4 class="title">Unlimited options and variations</h4>
						<p>Our design is with responsive in mind. Our themes are compatible with various desktop, tablet, and mobile devices. <a href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<img src="images/service-image-1.png" alt="">
			</div>
		</div>
		<!-- pricing tables start -->
		<!-- ================ -->
		<div class="pricing-tables circle-head object-non-visible" data-animation-effect="fadeInUpSmall"  data-effect-delay="0">
			<div class="row grid-space-10">
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered">
						<div class="header dark-bg">
							<h3>Basic</h3>
							<div class="price"><span>Free</span></div>
						</div>
						<ul class="">
							<li>1 User</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15GB Storage" data-trigger="hover">1GB Storage</a>
							</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="15 Email Acounts">1 Email Acounts</a>
							</li>
							<li>Subdomains</li>
							<li>Security</li>
							<li>Bandwidth</li>
							<li>Databases</li>
							<li><a class="btn btn-dark radius-50 btn-animated btn-lg">Subscribe <i class="fa fa-user"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered best-value">
						<div class="header default-bg">
							<h3>Premium</h3>
							<div class="price"><span>$19.99</span>/m.</div>
						</div>
						<ul>
							<li>80 Users</li>
							<li>Unlimited Disk Space</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Unlimited Subdomains">Unlimited Email Acounts</a>
							</li>        
							<li>Subdomains</li>
							<li>Security</li>
							<li>500 Visitors per month</li>
							<li>1 Database</li>
							<li><a class="btn btn-default btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
				<div class="col-sm-4">
					<!-- pricing table start -->
					<!-- ================ -->
					<div class="plan shadow light-gray-bg bordered">
						<div class="header dark-bg">
							<h3>Pro</h3>
							<div class="price"><span>$24.99</span>/m.</div>
						</div>
						<ul>
							<li>Unlimited Users</li>
							<li>Unlimited Disk Space</li>
							<li>Unlimited Email Acounts</li>
							<li>Unlimited Subdomains</li>
							<li>
								<a href="#" class="pt-popover" data-toggle="popover" data-placement="right" data-content="Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." title="" data-original-title="Enchaned Security">Enchaned Security</a>
							</li>
							<li>Unlimited Bandwidth</li>
							<li>Unlimited Databases</li>
							<li><a class="btn btn-dark btn-animated btn-lg radius-50">Add to cart <i class="fa fa-shopping-cart"></i></a></li>
						</ul>
					</div>
					<!-- pricing table end -->
				</div>
			</div>
		</div>
		<!-- pricing tables end -->
	</div>
</section>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<section class="section light-gray-bg pv-40 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="call-to-action text-center">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<h2 class="title">Join Us Now</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
							<div class="separator"></div>
							<form class="form-inline margin-clear">
								<div class="form-group has-feedback">
									<label class="sr-only" for="subscribe2">Email address</label>
									<input type="email" class="form-control" id="subscribe2" placeholder="Enter email" name="subscribe2" required="">
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section end -->