<div class="row" data-ng-controller="AgencyProfileController">
	<div class="col-md-1"></div>
	
	<div class="col-md-10">
		<div class="row" data-ng-if="isAuthorized(userRoles.user) && userToView.agency.status == 'FOR_APPROVAL'">
			<div class="alert alert-info" role="alert">{{ userToView.agency.adminNote }}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h3>{{userToView.agency.firstName}} {{userToView.agency.lastName}} <i class="fa fa-check-circle wow bounceIn text-success" data-ng-if="userToView.agency.status == 'APPROVED'"></i></h3>
						<div><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;&nbsp;{{ userToView.agency.agencyAddress }}</div>
						<div><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;&nbsp;{{ userToView.email }}</div>
						<div><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;&nbsp;{{ userToView.agency.contactNo }}</div>
						<hr />
						<div class="row">
							<div class="col-sm-4 col-md-4">
								<h3 class="text-center"><b>{{ userToView.followerSize }}</b></h3>
								<div class="text-center"><small>Followers</small></div>
							</div>
							<div class="col-sm-4 col-md-4">
								<h3 class="text-center"><b>{{ userToView.agency.eventSize }}</b></h3>
								<div class="text-center"><small>Events</small></div>
							</div>
							<div class="col-sm-4 col-md-4">
								<h3 class="text-center"><b>{{ userToView.followingSize }}</b></h3>
								<div class="text-center"><small>Following</small></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-xs-12 col-sm-6 col-md-8">
				<div data-ng-if="userToView.email == user.email">
					<a href="#!/agency/profile/update" class="btn btn-default">Edit profile</a>
				</div>
				
				<div data-ng-if="isAuthorized(userRoles.admin) && userToView.email != user.email">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="alert alert-danger" role="alert" data-ng-if="errorMessageApprove"><span class="glyphicon glyphicon-remove"></span> {{ errorMessageApprove }}</div>
						<div class="alert alert-success" role="alert" data-ng-if="successMessageApprove"><span class="glyphicon glyphicon-ok"></span> {{ successMessageApprove }}</div>
						<button class="btn btn-primary" data-ng-click="approve(userToView.agency.id, clazz)" data-ng-disabled="clazz == null || clazz == ''">Approve</button>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="alert alert-danger" role="alert" data-ng-if="errorMessageDeny"><span class="glyphicon glyphicon-remove"></span> {{ errorMessageDeny }}</div>
						<div class="alert alert-success" role="alert" data-ng-if="successMessageDeny"><span class="glyphicon glyphicon-ok"></span> {{ successMessageDeny }}</div>
						<div class="form-group">
							<label for="note">Note</label>
							<input type="text" class="form-control" id="note" name="note" placeholder="Note" required="required" data-ng-model="note" />
						</div>
						<button class="btn btn-default" data-ng-click="deny(userToView.agency.id, note)" data-ng-disabled="note == null || note == ''">Deny</button> <button class="btn btn-default" data-ng-click="setForApproval(userToView.agency.id, note)" data-ng-disabled="note == null || note == ''">Add note</button>
					</div>					
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-1"></div>
</div>