<div class="row" data-ng-controller="AgencyProfileUpdateController">
	<div class="col-md-1"></div>
	
	<div class="col-md-10">		
		<div class="page-header">
			<h1>Update your profile <small>To get better results in finding the best talents</small></h1>
		</div>
		
		<div class="alert alert-danger" role="alert" data-ng-show="userUpdateErrors">
			<div data-ng-repeat="userUpdateError in userUpdateErrors track by $index"><span class="glyphicon glyphicon-remove"></span> {{ userUpdateError.message }}</div>
		</div>
		<div class="alert alert-info" role="alert">Fields with <span class="glyphicon glyphicon-asterisk"></span> are required</div>
		<form name="agencyUpdateForm" role="form" method="POST" data-ng-submit="updateAgencyProfile(userToUpdate)" novalidate="novalidate">
			
			<div class="page-header">
				<h3>We'd like to know you <small>These information will help us to properly communicate with you concerning your events</small></h3>
			</div>
		
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback" 
							data-ng-class="{ 'has-success' : agencyUpdateForm.firstName.$valid, 'has-error' : agencyUpdateForm.firstName.$invalid  }">
						<label for="firstName">First Name</label>
						<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="required" data-ng-model="userToUpdate.agency.firstName" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : agencyUpdateForm.lastName.$valid, 'has-error' : agencyUpdateForm.lastName.$invalid  }">
						<label for="lastName">Last Name</label>
						<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="required" data-ng-model="userToUpdate.agency.lastName" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback" 
							data-ng-class="{ 'has-success' : agencyUpdateForm.agencyName.$valid, 'has-error' : agencyUpdateForm.agencyName.$invalid  }">
						<label for="agencyName">Agency Name</label>
						<input type="text" class="form-control" id="agencyName" name="agencyName" placeholder="Agency Name" required="required" data-ng-model="userToUpdate.agency.agencyName" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
				<div class="col-xs-6 col-md-6">
					<div class="form-group has-feedback"
							data-ng-class="{ 'has-success' : agencyUpdateForm.contactNo.$valid, 'has-error' : agencyUpdateForm.contactNo.$invalid  }">
						<label for="contactNo">Contact No</label>
						<input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Contact No" required="required" data-ng-model="userToUpdate.agency.contactNo" />
						<span class="glyphicon glyphicon-asterisk form-control-feedback"></span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="form-group">
						<label for="agencyAddress">Agency Address</label>
						<input type="text" class="form-control" id="agencyAddress" name="agencyAddress" placeholder="Agency Address" required="required" data-ng-model="userToUpdate.agency.agencyAddress" />
					</div>
				</div>
			</div>
			
			<div class="text-center">
				<a href="#!/agency/profile" class="btn btn-default">Cancel</a>
				<button id="updateButton" type="submit" class="btn btn-primary" data-loading-text="Updating..." 
					data-ng-disabled="agencyUpdateForm.$invalid">
					<span class="glyphicon glyphicon-ok-sign"></span> Update
				</button>
			</div>
		</form>
	</div>
	
	<div class="col-md-1"></div>
</div>